<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>I have developed a strong background in fin-tech during my 3 years of professional experience at Barclays and Skeps (Blockchain-based startup). My experience at Barclays imparted a strong foundation in design principles, OOPs concepts, and clean code practices. I was responsible for envisioning, designing the architecture, and developing the fraud detection platforms involving performance-driven, scalable microservices.</p>
      <p>I firmly believe in being technology-agnostic, this led me to learn new skills as per the project’s demands. My skills include but are not limited to C#/.Net used for customer care desktop application, Angular/JavaScript for fraud management website, Java/Spring for web-services development. I was also the owner of database modeling for MongoDB and Oracle and configured the deployments of these projects with docker/Kubernetes/OpenShift on AWS.</p>
      <p>In Fall 2019, I quit my job to pursue Masters in Computer Science at University of Florida. As a self-driven and enthusiastic learner, my aim is to take my software designing skills to the next level and expand my skills in machine learning and Big Data. Building on the foundation laid at work, I took up courses like Advanced Data Structures, Distributed System, Pattern Recognition to help realize my goal. I am currently interning at ClaimFound</p>
    </div>
  </div>
</div>
