node_modules
bower_modules
npm-debug.log
README.md
LICENSE
logs
*.log
coverage
dist
build/Release

Dockerfile*
docker-compose*
.dockerignore

.git
.gitignore

#IDE
.vscode
*.sublime-workspace
### JetBrains template Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
.idea/
.idea_modules/
out/

# JIRA plugin
atlassian-ide-plugin.xml

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
