/*.ini
/**/*.ini
**/.idea
/backend/docs
/backend/.idea
/backend/docs
__pycache__/
*.py[cod]
*$py.class
/frontend/webapp/*.log
/env.sh
*.log
Scratch*.bat
Notebooks
env.txt
/aws-config
/temp
database/rds_logs/
.DS_Store
screenshot*
page-source*
backend/.DS_Store
\.vscode/
extend-env.sh
windows-vm.config.sh
nginx/scripts/nohup*
.mypy_cache
build_logs.tar.gz